/* Основной цвет шрифта #212121 */
/* Дополнительный цвет шрифта #757575 */
/* Акцент обводки #2196F3 */
/* Белая шапка  #FFFFFF */
/* 1 - фон #E5E5E5 */
/* 2 - фон #F5F4FA */
/* 3 - подвал #2F303A */
/* Нижняя информация rgba(255, 255, 255, 0.6);*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  font-family: Roboto;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

footer {
  background-color: #2f303a;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #fff;
}

/* фон боди */
.page {
  color: #212121;
}

.header-container {
  justify-content: space-around;
  align-items: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  outline: 2px solid tomato;
  min-height: 80px;
  background-color: #fff;
}

/* Лого */

.web {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;

  letter-spacing: 0.03em;
  color: #2196f3;
  margin-right: 95px;
  font-family: Raleway;
}

.studio {
  color: #212121;
  font-family: Raleway;
}
.site-nav li {
  outline: 1px solid red;
  margin-left: 53px;
}
.site-nav li:first-child {
  margin-left: 0px;
}

/* Шапка сайта */
.site-nav {
  display: flex;
}

.site-nav .link {
  color: #212121;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}

/*  Информация */
.auth-nav .link {
  color: #757575;
}
.auth-nav {
  align-items: center;
  display: flex;
}
.auth-nav li:not(:first-child) {
  margin-left: 53px;
}
.auth-nav .link:hover {
  color: #2196f3;
}

/* <!-- Место для банера */
.banner {
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  color: #fff;
}

.banner_container {
  display: flex;
  flex-direction: column;
  min-height: 600px;
  justify-content: center;
  background-image: url('../images/Header.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  background-color: #2196f3;
}
/* Легкая реклама */

.list {
  display: flex;
  justify-content: center;
  padding: 0px;
  list-style: none;
}
.list-item {
  width: 270px;
  margin: 10px;
  padding: 10px;
  border-radius: 4px;
}
.list-item::before {
  display: block;
  content: '';
  height: 120px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
}
.list-item.icon-group::before {
  background-image: url('../images/Group.png');
}
.list-item.icon-clock::before {
  background-image: url('../images/clock.png');
}
.list-item.icon-diagram::before {
  background-image: url('../images/diagram.png');
}
.list-item.icon-astronaut::before {
  background-image: url('../images/astronaut.png');
}

/* Описание их услуг */

.banner-services {
  display: flex;
  justify-content: space-between;
  padding: 94px;
  outline: 2px solid tomato;
}
.banner-services > li {
  width: 270px;
  margin-right: 30px;
}
.banner-services > li:last-child {
  margin-right: 0;
}

.Our-features {
  color: #212121;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
}
.section-title {
  color: #757575;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
}

/* <!-- Секция с занятиями --> */

.working {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: #212121;
  outline: 2px solid tomato;
}

.working-teams {
  display: flex;
  justify-content: flex-start;
  outline: 2px solid tomato;
  padding-bottom: 94px;
}

.working-teams > li:last-child {
  margin-right: 0;
}

.image {
  display: flex;
  justify-content: center;
  width: 370px;
  height: 294px;
  margin-right: 30px;
  outline: 2px solid tomato;
}

/* Описание команды */

.back-fon {
  background: #f5f4fa;
}
.team {
  display: flex;
  justify-content: center;
  font-size: 44px;
  padding-top: 94px;
  margin-bottom: 50px;
  color: #212121;
  outline: 2px solid tomato;
}

.tem-lickwid {
  display: flex;
  justify-content: center;
  outline: 2px solid tomato;
  padding-bottom: 94px;
}
.tem-lickwid > li:last-child {
  margin-right: 0;
}

.Description {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 270px;
  height: 260px;
  margin-right: 30px;
  outline: 2px solid tomato;
}

.name {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #212121;
}

.work {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #757575;
}
.Useful {
  display: flex;
  justify-content: center;
}

/* Стили для портфолио */

.Main-Description {
  color: #212121;
}

.Additional-description {
  color: #757575;
}

/* Настройка подвала */

.footer-basement {
  background-color: #2f303a;

  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 215px;
  width: auto;
}

.web-basement {
  color: #2196f3;
}
.studio-basement {
  color: #212121;
}

/* не работает???????? */
.address-nav {
  color: #ffffff;
}

.address-site {
  color: #757575;
}

.address-nomber {
  color: #757575;
}

/*  */
/*  */
/*  */

/* Портфолио */

.buttons {
  display: flex;
  justify-content: space-around;
  padding: 20px 20px;
  outline: 2px solid tomato;
}

.manual {
  display: flex;
  justify-content: center;
  outline: 2px solid tomato;
}
.blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  outline: 2px solid tomato;
}
.block {
  width: 370px;
  outline: 2px solid tomato;
  width: 370px;
  height: 404px;
}
